<form nz-form [formGroup]="validateForm" class="ant-advanced-search-form">
    <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="8">
            <nz-form-item>
                <nz-form-label>name</nz-form-label>
                <nz-form-control>
                    <input nz-input placeholder="email"  formControlName="name"  id="name" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
             <nz-form-item>
                <nz-form-label >skill</nz-form-label>
                <nz-form-control>
                <input nz-input placeholder="skill"  formControlName="skill"  id="skill" />
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
      <div nz-col [nzSpan]="24" class="search-area">
        <button nz-button [nzType]="'primary'" (click)="searchM()">Search</button>
      </div>
    </div>
  </form>

<nz-table #basicTable [nzData]="listOfData">
    <thead>
      <tr>
        <th>Name</th>
        <th>Experience</th>
        <th>Mail</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.name }}</td>
        <td>{{ data.exp }}</td>
        <td>{{ data.mail }}</td>
        <td>
          <a (click)="selMent(data.name)"> select {{ data.name }}</a>
          <nz-divider nzType="vertical"></nz-divider>
           
        </td>
      </tr>
    </tbody>
  </nz-table>