
<nz-table #basicTable [nzData]="listOfData">
    <thead>
      <tr>
        <th>Training NO</th>
        <th>User Name</th>
        <th>Mentor Name</th>
        <th>Skill</th>
        <th>Status</th>
        <th>Apply Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.id }}</td>
        <td>{{ data.userName }}</td>
        <td>{{ data.mentorName }}</td>
        <td>{{ data.skill }}</td>
        <td>{{ data.status }}</td>
        <td>{{ data.applyDate }}</td>
         
      </tr>
    </tbody>
  </nz-table>